{% extends 'header.html' %}
{% block myContent %}
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1"></div>
        <div class="col col-12 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10">
            <table class="table table-striped">
                <thead class="table-secondary">
                    <tr>
                        <th>EMPLOYEE CODE</th>
                        <th>NAME</th>
                        <th>ADDRESS</th>
                        <th>MOBILE NO</th>
                        <th>PINCODE</th>
                        <th>SALARY</th>
                        <th>USERAME</th>
                        <th>PASSWORD</th>
                        
                    </tr>
                    
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td>{{ i.employee_code }}</td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.address }}</td>
                        <td>{{ i.mobile_no }}</td>
                        <td>{{ i.pincode }}</td>
                        <td>{{ i.salary}}</td>
                        <td>{{ i.username}}</td>
                        <td>{{ i.password}}</td>
                       
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col col-12 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1"></div>
    </div>
</div>     

{% endblock %}