<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <!-- <link rel="stylesheet" href="/static/style.css"> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .background{
            background-color: chocolate;
        }
        
    </style>
</head>
<body class="background">
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <a class="navbar-brand" href="#"><h4>ADMIN LOGIN</h4></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            

          </div>
        </div>
      </nav>
        
    <form action=" http://127.0.0.1:8000/appadmin/loginadmin/" method="post">
        <div class="container">
        
            <div class="row">
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <table class="class">
                        <br>
                        <br>
                        <br>

                        <tr>
                            <td>Username</td>
                            <td>
                                <input name="username" type="text" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td>
                                <input name="password" type="password" class="form-control">
            
                            </td>
                        </tr>

                        <tr>
                            <td></td>
                            
                            <td><center><button type="submit" class="btn btn-success" >LOGIN</button></center></td>
                        </tr>
                        
                    </table>
                   <!-- <center><a href="http://127.0.0.1:8000/employee/signup/">Click here to sign up</a></center>  -->
                </div>
                <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
    
            </div>
        </div>
        
    </form>

</body>
</html>