{% extends 'adminview.html' %}
{% block myContent %}
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
        <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
          <form action="http://127.0.0.1:8000/appadmin/addapi/" method="post">
            <center><marquee behavior="scroll" direction="left"><h4>ADMIN PAGE</h4></marquee></center>
            <table class="table table-borderless">
                <tr>
                    <td><h6>NAME</h6></td>
                    <td><input name="name" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td><h6>ADDRESS</h6></td>
                    <td><input  name="address" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td><h6>BLOOD GROUP</h6></td>
                    <td><input  name="bgroup" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td><h6>MOBILE NO</h6></td>
                    <td><input  name="mobilenumber" type="text" class="form-control"></td>
                </tr>
                

                <tr>
                    <td><h6>USERNAME</h6></td>
                    <td><input  name="username" type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td><h6>PASSWORD</h6></td>
                    <td><input  name="password" type="password" class="form-control"></td>
                </tr>
               
                    <td></td>
                    <td><center><button type="submit" class="btn btn-outline-secondary">REGISTER</button></center></td>
                </tr>
            </table>
            <!-- <center><a href="http://127.0.0.1:8000/employee/loginview/">Click here to log in</a></center>  -->
          </form>
        </div>
        <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"></div>
    </div>
</div>  

{% endblock %}